body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 16px;
    background-image: url(./math-background.png);
}

html {
    scroll-behavior: smooth;
  }
  
h2 {
    font-size: 40px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

p {

    margin-left: 10px;
}

th {
    color: orange;
    font-family: 'Montserrat';
}

button {
    background-color: #333333;
    border: 3px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Montserrat';
    margin: 2px 1px;
    cursor: pointer;    
    height: 40px;
    width: 145px;
 }

 button:hover {
    background-color: orange;
    border: 3px solid white;

 }
.header {
    height: 70px;
    background: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.header-item {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 70px;
    border-top: 1px solid white;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #333333;
    color: white;
    width: 1000px;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 30px;
    height: auto;
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 15px;
}
table {
    width: 550px;
    border-radius: 8px;
}
.center {
    margin-left:auto; 
    margin-right:auto;
  }
.container table td{
    padding: 10px;
}

.tableContent {
    width: 100%;
}

.form-item {
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    border-radius: 8px;
 }
 
    .outputs {
        margin-top: 10px;
        height: auto;
    }


 #outputsTable {
     width:100%
 }

.arrowUP {
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    color: white;
}

.propsOfNumbers {
    visibility: visible;
}

textarea {
    font-size: 24px;
    font-family: 'Montserrat';
}

